@inherits BaseComponent
@using  Herc.Pwa.Client.Pages
<div class="MenuItems">
  <NavLink class="nav-link nav-item" target="blank" href="https://explorer.herc.one/assets">
    <span class="oi oi-media-record" aria-hidden="true"></span> Globally Public Asset Explorer
  </NavLink>
  <NavLink class="nav-link nav-item" target="blank" href="https://purchase.herc.one/">
    <span class="oi oi-dollar" aria-hidden="true"></span> Top Up HERCs 
  </NavLink>
  <NavLink class="nav-link nav-item" target="blank" href="https://etherscan.io/token/0x6251583e7d997df3604bc73b9779196e94a090ce">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Block Explorer
  </NavLink>
  <NavLink class="nav-link nav-item" target="blank" href="https://herc.one/get-started">
    <span class="oi oi-link-intact" aria-hidden="true"></span> Create Value Chain
  </NavLink>
  <NavLink class="nav-link nav-item" href="@WalletPageBase.Route">
    <span class="oi oi-dollar" aria-hidden="true"></span> Wallet
  </NavLink>
</div>

<style>
 
</style>
